*{
    margin: 0;
}

body{
    font-family: 'Nunito sans';
}

header{
    background-color: purple;
    padding: 10px;
    color: #fff;
    text-align: center;
}

main{
    padding: 30px 50px;
    
}

.card{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    
}

.lineInput{
    display: grid;
    margin-bottom: 10px;
}

.input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0;
}

button{
    border: 0;
    padding: 10px;
    outline: 0;
    background-color: purple;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
}

button:hover {
    background-color: darkviolet;
}


.content{
    margin-top: 15px;
}

table{
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

table th{
    background-color: aliceblue;
}
table th, td{
    padding: 1px 5px;
    text-align: left;
}

.center{
    text-align: center;
}